.creating{
  margin-top: 67px;
  &__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2A2367;
    @include span;
  }
  &__features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-inner{
      margin: 54px 0 0;
      padding: 2px 0 0 15px;
      width: 373px;
      height: 200px;
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
    &-number{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 78px;
      color: #FFFFFF;
      text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }
    &-title{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #2A2367;
    }
    &-descr{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #2A2367;
    }
  }
  &__button{
    margin: 51px auto 150px;
    display: block;
  }
}

.divaider{
  margin: 10px 0 8px;
  width: 175px;
  border: 2px solid #E37575;
}