.exploring{
  margin-bottom: 119px;
  &__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2A2367;
    @include span;
  }
  &__wrapper{
    position: relative;
    margin-top: 66px;
  }
  &__content{
    width: 544px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2A2367;
    &>p{
      margin-bottom: 31px;
    }
    &-img{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

}