@import 'libs/bootstrap-reboot.scss';
@import 'libs/slick.scss';
@import 'libs/variables.scss';
@import 'libs/mixsin.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');



*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1159px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

.button{
  width: 275px;
  height: 60px;
  background-color: #6B5AF9;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  &:hover{
    background-color: #2A2367;
    transition: all .5s;
  }
}

@import 'header';
@import 'creating';
@import 'results';
@import 'certificate';