@import 'libs/bootstrap-reboot.scss';
@import 'libs/slick.scss';
@import 'libs/variables.scss';
@import 'libs/mixsin.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');



*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2A2367;
  @include span;
}